/* CSS */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #f1509e, #919ec5);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* 부모 요소를 상대적으로 위치 지정 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  width: 221px;
}
img:hover {
  width: 320px;
  transform: translate(-50%, -50%) rotate(0);
  z-index: 100;
}

/* 추가적인 이미지 각도 설정 */
.suin {
  position: absolute;
  top: 30vh;
  left: 40%;
  transform: translate(-50%, -50%) rotate(325deg); /* 325도 회전 및 중앙 정렬 */
}

.eunjoo {
  position: absolute;
  top: 40vh;
  left: 70%;
  transform: translate(-50%, -50%) rotate(45deg); /* 45도 회전 및 중앙 정렬 */
}

.eun {
  position: absolute;
  top: 60vh;
  left: 30%;
  z-index: 100;
  transform: translate(-50%, -50%) rotate(345deg); /* 30도 회전 및 중앙 정렬 */
}

.su {
  position: absolute;
  top: 75vh;
  left: 70%;
  transform: translate(-50%, -50%); /* 325도 회전 및 중앙 정렬 */
}
